<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Thư viện DUT</title>
    <link rel="icon" href="/public/image/k.jpg" type="image/x-icon" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <style>
        * {
            font-size:medium
        }
        a {
            text-decoration: none;
            color: #204055;
        }
        .card {
            background-color: #F5F5F5
        }
        .card-body:hover {
            background-color: #204057;
            color: white;
        }
        .active, .footer {
            background-color: #204057;
            color: white;
        }
        .active .card-body{
            color: white;
        }
    </style>
</head>
<body>
    <div class="container my-3">
        <div class="card px-0 border-0 bg-white">
            <div class="media d-flex">
                <div class="media-body text-left">
                    <img src="/public/image/landing/logo.png" width="440">
                </div>
                <div class="media-body text-right" style="color: #204057; margin: 2vw 0">
                    <i class="fas fa-phone"></i> (+84.0236) 3735906
                </div>
            </div>
        </div>    
    </div>