<div class="social">
    <a href="https://www.facebook.com/ThuvienBKDN">
        <i class ="fab fa-facebook-f"></i></a>
    <a href="http://dut.udn.vn/">
        <i class ="fab fa-twitter"></i></a>
    <a href="http://lib.dut.udn.vn/primo_library/libweb/action/search.do?vid=lbk">
        <i class ="fab fa-instagram"></i></a>
</div>
</div>
</div>

<div class="mainContainer">

<div class="topbar">
<div class="topbarName">
    HỆ THỐNG QUẢN LÝ <span>THƯ VIỆN</span>
</div>
<div class="btn-group" id="user">
    <img src='/public/image/avatar.svg' class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    <div class="dropdown-menu dropdown-menu-right">
        <a class="dropdown-item" href="/admin/profile">
            <img src="/public/image/profile.svg">Cá nhân</a>
        <a class="dropdown-item" href="/admin/profile/changepass">
            <img src="/public/image/pass.svg">Đổi mật khẩu</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" href="/logout">
            <img src="/public/image/logout.svg">Đăng xuất</a>
    </div>
</div>	
</div>
