<div class="social">
    <a href="https://www.facebook.com/ThuvienBKDN">
        <i class ="fab fa-facebook-f"></i></a>
    <a href="http://dut.udn.vn/">
        <i class ="fab fa-twitter"></i></a>
    <a href="http://lib.dut.udn.vn/primo_library/libweb/action/search.do?vid=lbk">
        <i class ="fab fa-instagram"></i></a>
</div>
</div>
</div>

<div class="mainContainer">

<div class="topbar">
<div class="topbarName">
    HỆ THỐNG QUẢN LÝ <span>THƯ VIỆN</span>
</div>
<div class="btn-group" id="user">
    <a href="/logout">
        <img src="/public/image/logoutS.svg"></a>
</div>	
</div>
